@use "./partials/font" as *;
@use "./partials/variables" as *;

* {
    margin: 0;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}


header{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: $Dark-Blue;
    color: $Yellow;
}

.hero{
    background-image: linear-gradient(rgba($Grey, 0.5), rgba($Grey, 0.5)), url(../assets/hero-image.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text{
        width: 80%;
        color: $White;
        font-size: 1.875rem;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        border-right: 2px solid;
        line-height: 1.5;
        animation: typing 5s steps(60, end) forwards, blink 0.75s step-end infinite;
    }

}

@keyframes typing {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
  
@keyframes blink {
    50% {
        border-right-color: transparent;
    }
}
  

.map{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Yellow;

    &__title{
        padding: 1rem;
        padding-bottom: 2rem;
        color: $Dark-Blue;
    }
}

#map {
    width: 60%;
    height: 43.75rem;
    border: 1px solid black;
}

.iss-images{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Light-Blue;

    &__title{
        padding-bottom: 2rem;
        color: $Violet; 
    }
}

.images {
    width: 100%;
  
    &__carousel {
      width: 98vw;
      overflow: hidden;
    }
  
    &__gallery {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      animation: scroll 40s linear infinite;
      width: calc(250px * 14);
    }
  
    &__img {
      margin-left: 1rem;
      aspect-ratio: 1;
      width: 20rem;
      height: 20rem;
    }
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(calc(-250px * 7));
    }
}

.chat {
    background-color:$Light-Blue;
    padding-bottom: 1rem;

    &__container {
        padding: 0 3rem;
    }

    &__title {
        color: $Grey;
        font-size: 2rem;
        padding: 5rem 3rem;
    }

    &__photo-container {
        padding-top: 2rem;
        width: 10%;
    }

    &__photo-wrapper {
        display: flex;
        justify-content: center;
    }

    &__photo {
        width: 5.2rem;
        height: auto;
        border-radius: 50%;

    }

    &__button {
            background-color: $Yellow;
            color: $Grey;
            height: 2rem;
            min-width: 1.5rem;
            border-radius: 0.4rem;
            padding: 2.2rem 0 2rem;
            font-size: 1.8rem;
            display: flex;
            align-items: center; 
            justify-content: center;
            width: 35%;
        
            &:hover {
                background-color: $Grey;
                color: $White;
            }
        }
      

    &__label {
        color: $Grey;
        padding-bottom: 0.25rem;
        font-weight: bold;
        font-size: 1.2rem;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.18rem solid $Grey;
    }

    &__form-wrapper {
        width: 90%;
    }

    &__name-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 3rem;
    }

    &__comment-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 3.2rem;
    }
    
    &__form {
        padding: 0.5rem 0 3.2rem 3rem;
    }

    &__text {
        border: 0.15rem solid $Grey;
        background-color: $White;
        border-radius: 0.65rem;
        min-height: 3rem;
        padding: 0.8rem;
        resize: none;

        &--special {
            padding: 1.92rem 0 8rem 1.92rem;
        }

        &:focus {
            border: 0.24rem solid $Grey;
            outline: none;
        }

        &::placeholder {
            color: $White;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
            
        }

        &:user-invalid {
            border: 0.24rem solid #D22D2D;
        }
     } 

    &__list {
        padding: 0;
        margin: 0 0 2rem 0;
     }

    &__space-wrapper {
        padding: 0rem 3.2rem;
    }

    &__comment-container {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem 1.7rem 1rem;
        border-bottom: 0.18rem solid $Grey;
    }

    &__avatar-wrapper {
        display: flex;
        justify-content: center;
        width: 10%;
        padding-top: 2rem;
    }
     
    &__avatar {
        background-color: $White;
        border-radius: 50%;
        min-width: 5rem;
        height: 5rem;
    }

    &__name-date-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 0 1rem 3.2rem;
    }

    &__name {
        color: $Grey;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0;
        padding-top: 0.8rem;

    }

    &__date {
        color: $White;
        font-size: 1.5rem;
        margin: 0;
        padding-top: 0.8rem;
    }
     
    &__message {
        color: $Grey;
        padding-left: 3.2rem;
        font-size: 1.5rem;
        margin: 0;
    }

    &__input-container {
        width: 90%;
    }

}

.facts{
    padding: 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Yellow;

    &__title{
        color: $Dark-Blue;
        padding-bottom: 1rem;
    }
}

.space-facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__item {
        flex-direction: column;
        list-style-type: none;
    }

    &__fact {
        margin: 1rem;
        // border: 0.2rem solid $Yellow;
        padding: 2em;

    }

    &__image {
        padding-top: 1em;
        width: 400px;
        display: block;
        margin: 0 auto;
    }

    &__button {
        background-color: $Dark-Blue;
            color: $White;
            height: 2rem;
            min-width: 1.5rem;
            border-radius: 0.4rem;
            padding: 2.2rem 0 2rem;
            font-size: 1.8rem;
            display: flex;
            align-items: center; 
            justify-content: center;
            width: 35%;
        
            &:hover {
                background-color: $Grey;
                color: $White;
            }
    }
}