html, body {
  font-family: monospace;
}

* {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #24337c;
  color: #ffa700;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/hero-image.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__text {
  width: 80%;
  color: #ffffff;
  font-size: 1.875rem;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  border-right: 2px solid;
  line-height: 1.5;
  animation: typing 5s steps(60, end) forwards, blink 0.75s step-end infinite;
}
.hero__soundcloud {
  padding: 2rem;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}
@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}
.map {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffa700;
}
.map__title {
  padding: 1rem;
  padding-bottom: 2rem;
  color: #24337c;
}

#map {
  width: 60%;
  height: 43.75rem;
  border: 1px solid black;
}

.iss-images {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7fbffb;
}
.iss-images__title {
  padding-bottom: 2rem;
  color: #632490;
}

.images {
  width: 100%;
}
.images__carousel {
  width: 98vw;
  overflow: hidden;
}
.images__gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
  width: 3500px;
}
.images__img {
  margin-left: 1rem;
  aspect-ratio: 1;
  width: 20rem;
  height: 20rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.chat {
  background-color: #7fbffb;
  padding-bottom: 1rem;
}
.chat__container {
  padding: 0 3rem;
}
.chat__title {
  color: #323232;
  font-size: 2rem;
  padding: 5rem 3rem;
}
.chat__photo-container {
  padding-top: 2rem;
  width: 10%;
}
.chat__photo-wrapper {
  display: flex;
  justify-content: center;
}
.chat__photo {
  width: 5.2rem;
  height: auto;
  border-radius: 50%;
}
.chat__button {
  background-color: #ffa700;
  color: #323232;
  height: 2rem;
  min-width: 1.5rem;
  border-radius: 0.4rem;
  padding: 2.2rem 0 2rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}
.chat__button:hover {
  background-color: #323232;
  color: #ffffff;
}
.chat__label {
  color: #323232;
  padding-bottom: 0.25rem;
  font-weight: bold;
  font-size: 1.2rem;
}
.chat__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.18rem solid #323232;
}
.chat__form-wrapper {
  width: 90%;
}
.chat__name-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3rem;
}
.chat__comment-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 3.2rem;
}
.chat__form {
  padding: 0.5rem 0 3.2rem 3rem;
}
.chat__text {
  border: 0.15rem solid #323232;
  background-color: #ffffff;
  border-radius: 0.65rem;
  min-height: 3rem;
  padding: 0.8rem;
  resize: none;
}
.chat__text--special {
  padding: 1.92rem 0 8rem 1.92rem;
}
.chat__text:focus {
  border: 0.24rem solid #323232;
  outline: none;
}
.chat__text::-moz-placeholder {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.chat__text::placeholder {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.chat__text:user-invalid {
  border: 0.24rem solid #D22D2D;
}
.chat__list {
  padding: 0;
  margin: 0 0 2rem 0;
}
.chat__space-wrapper {
  padding: 0rem 3.2rem;
}
.chat__comment-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1.7rem 1rem;
  border-bottom: 0.18rem solid #323232;
}
.chat__avatar-wrapper {
  display: flex;
  justify-content: center;
  width: 10%;
  padding-top: 2rem;
}
.chat__avatar {
  background-color: #ffffff;
  border-radius: 50%;
  min-width: 5rem;
  height: 5rem;
}
.chat__name-date-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1rem 3.2rem;
}
.chat__name {
  color: #323232;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding-top: 0.8rem;
}
.chat__date {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0;
  padding-top: 0.8rem;
}
.chat__message {
  color: #323232;
  padding-left: 3.2rem;
  font-size: 1.5rem;
  margin: 0;
}
.chat__input-container {
  width: 90%;
}

.facts {
  padding: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffa700;
}
.facts__title {
  color: #24337c;
  padding-bottom: 1rem;
}

.space-facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.space-facts__item {
  flex-direction: column;
  list-style-type: none;
}
.space-facts__fact {
  margin: 1rem;
  padding: 2em;
}
.space-facts__image {
  padding-top: 1em;
  width: 400px;
  display: block;
  margin: 0 auto;
}
.space-facts__button {
  background-color: #24337c;
  color: #ffffff;
  height: 2rem;
  min-width: 1.5rem;
  border-radius: 0.4rem;
  padding: 2.2rem 0 2rem;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}
.space-facts__button:hover {
  background-color: #323232;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */